{% extends 'HyperionPersonalBundle::base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <span class="card-title black-text">{{ post.title }}</span>
                    <p class="light">Posted: {{ post.createdAt|date('M d, Y') }}</p>
                    <p>{{ post.content|readmore(false)|raw }}</p>
                </div>
                <div class="card-action">
                    <i class="fa fa-tags"></i>
                    {% spaceless %}
                        {{ post.tags|join(', ') }}
                    {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}