{% extends 'HyperionPersonalBundle::base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                indicators: true,
                padding: 5
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% set background = 'shattered' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center blue-text darken-2">{{ personal.name }}</h1>
            <div class="center">
                <h5 class="header col s12 light">{{ personal.description }}</h5>
                <div class="header-info">
                    <div class="or-spacer">
                        <div class="mask"></div>
                        <span><i>&amp;&amp;</i></span>
                    </div>
                    <div class="row">
                        {# max 3 categories #}
                        {% for key, skillSet in skills|slice(0,3) %}
                            {# offset if only two categories #}
                            <div class="col {% if loop.first and skillSet|length < 2 %} offset-s2 {% endif %} s4">
                                <h5>{{ key|title }}</h5>
                                {%- for skill in skillSet -%}
                                    {% if loop.last and skillSet|length > 1 %}, &amp;
                                    {% elseif not loop.first %}, {% endif %}
                                    {{ skill.name }}
                                {%- endfor -%}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>

    <div class="container">
        <div class="section">
            <div class="or-spacer">
                <h5 class="section-title grey-text text-darken-2">Previous Work</h5>
                <div class="mask"></div>
            </div>
            
            <div class="carousel">
                {% for portfolio in portfolios %}
                    <div class="carousel-item">
                        <div class="title">
                            <span class="grey-text text-darken-1 pull-right">{{ portfolio.projectYear }}</span>
                            <a href="{{ url('hyperion_personal_portfolio_post', {'slug': portfolio.post.slug}) }}">{{ portfolio.post.title|truncate(15) }}</a>
                            
                        </div>
                        <a href="{{ url('hyperion_personal_portfolio_post', {'slug': portfolio.post.slug}) }}">
                            <img class="responsive-img" src="{{ asset(portfolio.webpath) }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}